
:root{
  --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --black: #2c3e50;
  --blue_bg: #3498db;
}

.mr-3{
  margin-right: 30px;
}

.ml-3{
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;

}