.personal__container{
  background-color: #ecf0f1;
}

.title__ita{
  font-family: itafont;
  padding-left: 20px;
}

.input__depto__selected{
  text-transform: capitalize;
  font-size: x-large;
  color: white;
  background-color: #2980b9;
}